[Unit]
Description=Airflow scheduler daemon
After=network.target mysql.service
Wants=mysql.service
[Service]
User=hadoop
Type=simple
ExecStart=/usr/local/bin/airflow scheduler
Restart=on-failure
RestartSec=5s
PrivateTmp=true
[Install]
WantedBy=multi-user.target